body{
  background-color: #ffa0ce;
}

.custom-shape-divider-top-1600603038 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1600603038 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1600603038 .shape-fill {
  fill: #FFFFFF;
}
